/*
Bem Gudelines
*/
* {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', cursive;
}

html, body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
}

#side-bar {
    background-color: #20202c;
    flex: 2;
}

#side-bar > .flex-column {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile > figure {
    width: 100px;
    height: 100px;
    position: relative;
}

.profile > figure > img {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

#main {
    background-color: green;
    flex: 9;
}

#main > .banner-wrapper {
    height: 320px;
    width: 100%;
    background-color: bisque;
}

#right-menu {
    background-color: red;
    flex: 1;
}

aside{
    display: flex;
    flex-direction: column;
}
aside>p{
    flex: 1;
}
aside>header{
    background-color: #50505c;
    flex: 9;
}

aside>div{
    background-color: black;
    flex: 6;
}

.font-padding{
    padding-top: 8px;
    text-align: center;
    color: #93949b;
}

.test {
    padding-top: 10px;
    padding-left: 10px;
    color: aliceblue;
    background-color: #20202c;
}

.test ul li {
    list-style-type: none;
    color: #FFF;
    font-size: 1rem;
}

.test ul li i {
    color:#f4c341;
    margin-right: 5px;
}

.test {
    padding: 20px 0px 20px 0px;
    border-bottom-color: #FFFFFF;
    border-bottom-width: 2px;
    border-bottom-style: dotted;
    border-top: 1px solid #FFFFFF;
}

/*.center {
    display: flex;
    flex-direction: column;
    background-color: #20202c;
    padding-top: 10px;
    padding-left: 10px;
    color:white;
    text-align: center;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
}*/

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #20202c;
    color:#FFFFFF;
    border-bottom: 1px solid white;
    border-top: 1px solid #FFFFFF;
}

#container {
    margin: 0 auto;
    padding: 1px;
}